



.navBar{
    background-color:$Orange;
    width: 100%;
    justify-content: space-between;
    
}

.Search button:hover{

    background-color: $Orange;

}

.navBar a:hover{

color: $Blue;

}

.navBar a{
    color: white;
    
    
}


  /* FINALIZA Estilos para el input con clase "Search" */


 .Htext{

    margin: 10px 30px;
    text-align: justify;
 }


 section div h3{

    text-align: center;
    margin: 20px;
    text-decoration:overline;

 }

 section div p{

    font-size: 20px;

 }



  /*CAROUSEL*/

  .customCar{
    width: auto;
    margin: 4em;
    
  }
  



 div h1{

    color: white;
    text-align: center;
    margin-top: 20px;
  }
  
div h3{

    color: white
}

body{
    margin: auto;
    padding: auto;
    background-color: $Blue;
    box-sizing: border-box;

    
}

.logo1{

    width: 180px;
    height: 110px;
    
}


.borderContent{

    background-color: $Orange;
    width: 14em;
    height: 2em;
    text-align: center;
    border-radius: 16px;
    padding-top: 1px;
    padding-bottom: 5px;
    border: solid rgb(184, 184, 184);
}


.borderContent:hover{

    color: $Orange;
    background-color: white;

}
header {

    display: flex;
    justify-content: space-around;
    background-color: $Blue;
    color: white;
    height: 100px;
    
}